@model IEnumerable<mustafa24.Models.Model.Slider>
    @{ 
        Layout = null;
    }
<div id="main-slider" class="flexslider">
    
    <ul class="slides">
        @foreach (var item in Model)
        {
            <li>
                <img src="@item.ResimURL" width="512" height="512" alt="@item.Baslik"  />
                <div class="flex-caption">
                    <h3>@item.Baslik</h3>
                    <p>@item.Aciklama</p>
                    <a href="/BlogPost/" class="btn btn-theme">Devamını Oku</a>
                </div>
            </li>
        }
    
    </ul>
</div>